<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>항공권 검색/예약</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flight_search.css') }}">
</head>
<body>
  <div class="container">
    <header>
        <h2>CNU Airline Reservation Web</h2>
        <div class="user-info">
            <span><strong>{{ session.name }}</strong>님, 환영합니다.</span>
            <a href="{{ url_for('flight_check') }}" class="nav-btn">예약 내역</a>
            <a href="{{ url_for('logout') }}" class="logout-btn" onclick="return confirmLogout()">LOGOUT</a>
        </div>
    </header>

    <main>
      <h1>항공권 검색/예약 ✈️</h1>

      <form class="search-form" method="GET" action="{{ url_for('flight_search') }}">
        <div class="form-row">
            <input type="text" name="departure" placeholder="출발 공항 입력 (예: JFK)">
            <input type="text" name="arrival" placeholder="도착 공항 입력 (예: ICN)">
        </div>
        <div class="form-row single-line">
            <input type="text" name="date" placeholder="출발 날짜 입력">
            
            <select name="seat_class">
              <option value="">-- 좌석 선택 --</option>
              <option value="Economy">이코노미</option>
              <option value="Business">비즈니스</option>
            </select>

            <select name="sort_by">
              <option value="">-- 정렬 기준 --</option>
              <option value="price">요금 낮은 순</option>
              <option value="departure">출발 시간 순</option>
            </select>

            <button type="submit">검색</button>
        </div>
      </form>


        <div class="table-wrapper">
          <table class="result-table header-table">
            <thead>
              <tr>
                <th>항공사명</th>
                <th>운항편명</th>
                <th>출발공항</th>
                <th>도착공항</th>
                <th>출발날짜시간</th>
                <th>도착날짜시간</th>
                <th>요금($)</th>
                <th>남은 좌석 수</th>
                <th>예약</th>
              </tr>
            </thead>
          </table>

          <div class="scroll-body">
            <table class="result-table body-table">
              <tbody>
                {% for flight in flights %}
                <tr>
                  <td>{{ flight[0] }}</td>
                  <td>{{ flight[1] }}</td>
                  <td>{{ flight[2] }}</td>
                  <td>{{ flight[3] }}</td>
                  <td>{{ flight[4] }}</td>
                  <td>{{ flight[5] }}</td>
                  <td>{{ flight[6] }}</td>
                  <td>{{ flight[7] }}</td>
                  <td><button class="reserve-btn">예약</button></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </main>
    </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
